/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-image: linear-gradient(to right, #00008B, #0000FF);
  /* background: 'linear-gradient(to right, #00008B, #0000FF)' */
}